body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    color: #ffffff;
}

header {
    background-color: #171a21;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header-logo img {
    max-width: 100%;
    width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-content {
    background-color: #171a21;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#game-library {
    text-align: center;
}

.game {
    margin-bottom: 20px;
}

.game img {
    max-width: 100%;
    width: 150px;
    height: auto;
    border-radius: 8px;
}

button {
    background-color: #171a21;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2a2d34;
}

footer {
    background-color: #171a21;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}