body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: #171a21;
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 200px;
    background-color: #171a21;
    color: #ffffff;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #ffffff;
}

.main-content {
    color: #ffffff;
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #171a21;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
